

.Nh{

  font-size: 30px;
  color: rgb(186, 31, 31);
}
.Links{
  color: rgb(245, 242, 239);
  font-size: 18px;
  color: '#FFFFFF';
 

}

.dropdown-text {
  color: white;
}
.Links:hover{

  background: linear-gradient(to right, rgba(118, 75, 162, 0.9), rgba(101, 126, 234, 0.9));
  color: '#FFFFFF';
  border: none;
  box-shadow: 0px 4px 6px rgba(236, 233, 233, 0.1);
  border-radius: 10px;
  
}

.dropdown{
  color: #fff;

}
.fs-1{

  font-family:sans-serif;
  font-stretch: expanded;
  font-weight: 700;
}

.xiaomi{

  width: 1500px;
}
.sub{
  font-weight: 500;
}

.sub1{

  font-weight:650;
  font-size: 44px;
  
}

.img{

  height: 600px;;
 
}

.sub2{

  text-align: justify;
  font-size: larger;
}
.custom-button {
  background: linear-gradient(to right, rgba(101, 126, 234, 0.9), rgba(118, 75, 162, 0.9));
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out; 
}

.custom-button:hover {
  background: linear-gradient(to right, rgba(118, 75, 162, 0.9), rgba(101, 126, 234, 0.9));
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(10px); 
}
.custom-button1 {
  background: linear-gradient(to right, rgba(101, 126, 234, 0.9), rgba(118, 75, 162, 0.9));
  color: #fff;
  border: none;
  padding: 8px 8px;

  width: 70px;
  height: 40px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
  font-size: medium;
}

.custom-button1:hover {
  background: linear-gradient(to right, rgba(118, 75, 162, 0.9), rgba(101, 126, 234, 0.9));
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(1px);
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.custom-button2{

  background: linear-gradient(to right, rgba(101, 126, 234, 0.9), rgba(118, 75, 162, 0.9));
  color: #fff;
  border: none;
  padding: 10px 100px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
  font-size: large;
}

.custom-button2:hover {
  background: linear-gradient(to right, rgba(118, 75, 162, 0.9), rgba(101, 126, 234, 0.9));
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(1px); 
}

a{
  text-decoration:none;  
  color: white;
}

.cart{
  width: 40px;
  height: 40px;

  margin-left: 19px;
  margin-top: -5px;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }
  
  .number-input button {
  
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
  text-align: center;
  }
  
  .number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
  }
  
  .number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
  }
  
  .number-input.number-input button.minus {
  padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
  }
  
  @media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {
  
  .number-input.def-number-input.safari_only button:before,
  .number-input.def-number-input.safari_only button:after {
  margin-top: -.3rem;
  }
  }
  }
  
  .shopping-cart .def-number-input.number-input {
  border: none;
  }
  
  .shopping-cart .def-number-input.number-input input[type=number] {
  max-width: 2rem;
  border: none;
  }
  
  .shopping-cart .def-number-input.number-input input[type=number].black-text,
  .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
  color: #212529 !important;
  }
  
  .shopping-cart .def-number-input.number-input button {
  width: 1rem;
  }
  
  .shopping-cart .def-number-input.number-input button:before,
  .shopping-cart .def-number-input.number-input button:after {
  width: .5rem;
  }
  
  .shopping-cart .def-number-input.number-input button.minus:before,
  .shopping-cart .def-number-input.number-input button.minus:after {
  background-color: #9e9e9e;
  }
  
  .shopping-cart .def-number-input.number-input button.plus:before,
  .shopping-cart .def-number-input.number-input button.plus:after {
  background-color: #4285f4;
  }

 


  .Buy_btn{
    background: linear-gradient(to right, rgba(251, 252, 255, 0.9), rgba(222, 221, 223, 0.9));
    color: #e2dada;
   
  }

  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .img2{
    
    
    width:1550px;
  }
  .responsive-text {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: rgb(74, 73, 73);
    text-align: center;
  }
  .responsive-text2 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: rgb(74, 73, 73);
    text-align: justify;
  }

  @media (max-width: 412px) {
    .responsive-text {
      font-size: 3vw;
      top: 8%;
    }

  }


 

  .custom-button5{

    background: linear-gradient(to right, rgba(101, 126, 234, 0.9), rgba(118, 75, 162, 0.9));
    color: #fff;
    border: none;
    position: absolute;
    padding: 10px 100px;
    border-radius: 5px;
    bottom: 600%;
    left: 55%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
    font-size: large;
  }

    .responsive-text3 {
    position: absolute;
    bottom: 700%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: rgb(28, 27, 27);
    text-align: center;
  }


  .custom-button6{

    background: linear-gradient(to right, rgba(101, 126, 234, 0.9), rgba(118, 75, 162, 0.9));
    color: #fff;
    border: none;
    position: absolute;
    padding: 10px 100px;
    border-radius: 5px;
    bottom: 600%;
    left: -3%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: large;
  }

    .responsive-text4 {
    position: absolute;
    bottom: 700%;
    left: 6%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: rgb(2, 27, 27);
    text-align: center;
  }


  .responsive-text5 {
    position: absolute;
    bottom: 700%;
    left: 8%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: rgb(247, 242, 242);
    text-align: center;
  }


  .logo{

    font-weight: 500;
  }
.Align{
  padding-top: 100px;
  padding-left: 400px;
}


.srcalign{

  padding-left: 190px;
  display: inline-block;
}

.size{

  width: 160px;
  height: 50px;
  

}

.align2{

  padding-left: 30px;
  display: inline-block;
 
  
 
}

.srcalign2{

  padding-left: 190px;
  padding-top: -5px;
  display: inline-block;
}

.output{

  padding-left: 5px;
  display: inline-block;
}

.submitbtn{

  width: 100px;
}

.custom-button8 {
  background: linear-gradient(to right, rgba(101, 126, 234, 0.9), rgba(118, 75, 162, 0.9));
  color: #fff;
  border: none;
  

  width: 200px;
  height: 40px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: medium;
  padding-left: -10px;
}

.sidenav-heading {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.sidenav-link {
  color: rgb(250, 250, 250);
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  margin-left: -10px;
  font-size: small;
  transition: 0.3s;
}

.sidenav-link:hover {
  color: lightblue;
  
}

.user-info {
  display: flex;
  align-items: center;
}

.cart {
  width: 30px; 
  height: auto;
  
  margin-right: 17px;
   
}


span.a {
  display: inline; 
  width: 100%;
  height: 100%;
  padding: 25px;
  
}

.custom-table th,
.custom-table td {
  border: 1px solid black; /* Adjust the thickness as needed */
}

.fw-normal mb-0{
  color:'white'
}